<div class="row">
	<h1 class="page-header">Create a New Product</h1>
	<%= link_to "Return", products_path, class: "btn btn-md btn-default" %>
</div>
<br>
<div class="row">
	<%= render 'form' %>
</div>